[user]
	name = Hugo Agbonon
	email = hugo@agbonon.fr
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	lg = log --graph   --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s   %Cgreen(%an %ar)%Creset'
	up = !git fetch && git rebase --autostash FETCH_HEAD
[push]
	default = current
[rebase]
	autosquash = true
